// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested {
  margin-left: 30px;
}

#outta_face {
  float: left;
  margin-right: 100px;
}

#into_face {
  float: left;
}

.clear {
  clear:both;
}