<h3>Member: <%= "#{@member.first_name} #{@member.last_name}" %></h3>

<p><%= link_to "Select a Member", members_path %></p>

<div id="outta">
  <% if @member.outta.any? %>
    <p style="color:red">OUTTA:</p>
    <%= nested_outta @member.hash_outta %>
  <% end %>
</div>

<div id="into">
  <% if @member.into.any? %>
    <p style="color:blue">INTO:</p>
    <%= nested_into @member.hash_into %>
  <% end %>
</div>

<span class="clear">