<h3>Member: <%= "#{@member.first_name} #{@member.last_name}" %></h3>

<p><%= link_to "Select a Member", members_path %></p>

<% if @member.outta.any? %>
  <p style="color:red">OUTTA:</p>
  <% for username in @member.outta %>
    <% user = Member.find(username) %>
    <%= render(:partial => "user", :locals => {:user => user}) + nested_outta(user) %>
  <% end  %>
<% end %>



<% if @member.into.any? %>
  <p style="color:green">INTO:</p>
    <% for username in @member.into %>
      <%= link_to username, member_path(username) %></br>
    <% end %>
<% end %>