<h3>Member: <%= "#{@member.first_name} #{@member.last_name}" %></h3>

<p><%= link_to "Select a Member", members_path %></p>

<% if @member.outta.any? %>
  <p style="color:red">OUTTA:</p>
  <% nested_outta @member %>
<% end %>

<% if @member.into.any? %>
  <p style="color:green">INTO:</p>
    <% for username in @member.into %>
      <%= link_to username, member_path(username) %></br>
    <% end %>
<% end %>